@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  color: #fff;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  border-radius: 83px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #fff;
  background: #0f1624;
}

.container {
  max-width: 1428px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.container__header {
  max-width: 1654px;
}

.header {
  padding: 45px 0;
}
.header a {
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h1 {
  margin-left: 12px;
}

.header__nav {
  margin-left: 218px;
}

.header__list {
  display: flex;
}

.header__list-item + .header__list-item {
  margin-left: 98px;
}

.header__social {
  margin-left: auto;
}

.header__social-link + .header__social-link {
  margin-left: 30px;
}

/* bio */

.bg-img {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: right top 200px;
}

.bio {
  padding: 157px 0 255px 0;
}

.bio__inner {
  max-width: 1004px;
}

.bio__title {
  font-size: 64px;
  line-height: 96px;
  margin-bottom: 34px;
}

.bio__text {
  /* max-width: 989px; */
  font-size: 36px;
  line-height: 54px;
  color: #bcbcbc;
  margin-left: 62px;
  margin-bottom: 73px;
}

.bio_btn {
  font-size: 28px;
  line-height: 42px;
  padding: 19px 64px;
  margin-left: 110px;
}

/* project */

.project {
  padding-bottom: 329px;
}

.project__inner {
}

.project__title {
  font-size: 64px;
  line-height: 96px;
  margin-bottom: 93px;
}

.project__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 552px;
  border: 1px solid #0f1624;
  box-shadow: 0px 0px 12px #ffffff;
  border-radius: 50px 0px;
  padding: 25px 25px 45px;
  margin: 50px;
}

.project__item img {
  width: 500px;
  border-radius: 8px;
  margin-bottom: 25px;
  height: 280px;
}

.project__item-title {
  font-size: 36px;
  line-height: 88%;
  margin-bottom: 25px;
}

.project__item-text {
  margin-bottom: 25px;
}

.project__item-btn {
  padding: 15px 52px;
  font-size: 20px;
  line-height: 30px;
  margin-right: auto;
}
